/*reset inicial*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

:root {
    /*permite mudar cor e outros atributos em todo o site
alterando em apenas um lugar*/
    --bg-color: #000000;
    /*cor principal do plano de fundo*/
    --text-color: #e9e9e9;
    /*cor do texto principal*/
    --primary-color: #eaff00;
    /*cor de destaque dos elementos*/
    --card-bg: #161b22;
    --border-color: #30363b;
}

body {
    background-color: var(--bg-color);
    /*usa variavel de fundo*/
    color: var(--text-color);
    line-height: 1.6;
}

.container {
    max-width: 1000;
    margin: 0auto;
    padding: 0 20px;
}

.section-pad {
    padding: 80px 0;
}

.navbar {
    background-color: #161b22d2;
    backdrop-filter: blur(10px);
    position: fixed;
    /*mantem o menu sempre visivel no topo*/
    width: 100%;
    z-index: 1000;
}

.navbar-content {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo .highlight {color: var(--primary-color)}

.menu a{
text-decoration: none;
color: var(--text-color);
margin-left: 20px;
font-size: 10px;
}

.btn-nav{
border: 1px solid var(--border-color);
padding: 8px 16px;
border-radius: 6px;
transition: 0.3;
}

.btn-nav:hover {
border-color: var(--text-color)

}

/*SEÇÃO HERO*/

.hero{
text-align: center;
padding-top: 150px;
padding-bottom: 80px;
background: radial-gradient(circle at top, #1f2937 0%, #0d1117 70%);

}

.tag{
background-color: #1f2428;
border: 1px solid var(--primary-color);
color: var(--primary-color);
padding: 5px 12px;
border-radius: 20px;
font-size: 8px;
text-transform: uppercase;
font-weight: bold;
}

.hero h1{
font-size: 50px;
margin: 20px 0;
}

.hero h2{
color: #8b949e;
max-width: 600px;
margin: 0 auto 40px auto;
font-size: 1.2rem;
}

.btn{
display: inline-block;
padding: 12px 24px;
border-radius: 6px;
font-weight: 600;
cursor: pointer;
border: none;
transition: 0.3s;
}

.btn-primary{
background-color: var(--primary-color);
color: whitesmoke;
}

.bnt-primary:hover {
background-color: var(--text-color);
}

.bnt-outline{
background-color: transparent;
border: 1px solid var(--border-color);
color: var(--text-color);
margin-left: 10px;

}

.bnt-outline{
    background-color: var(--border-color);
}

/*módulos - seção o que vai aprender*/

.row{
display: flex;
gap: 30px;
margin-top: 40px;
}

.card{
flex: 1;
background-color: var(--card-bg);
border: 1px solid var(--border-color);
padding: 30px;
border-radius: 12px;
}

.icon-box{
font-size: 32px;
color:var(--primary-color);
margin-bottom: 15px;
}

.footer{
text-align: center;
padding: 40px;
color: #8b949e;
border-top: 1px solid var(--border-color);
background-color #1e41;

}