/*reset inicial*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*garante que bordas e 
    padding não aumentem o tamanh dos elementos*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    /*permite mudar cor e outros atributos em todo o site
    alterando em apenas um lugar*/
    --bg-color: #054bad; /*cor principal do plano de fundo*/
    --text-color: #d3d9db; /*cor do texto principal*/
    --primary-color: #f0ec1b; /*cor de destaque dos elementos*/
    --card-bg: #161b22;
    --border-color: #2d363f;
}

body{
    background-color: var(--bg-color); /*usa variavel de cor de fundo*/
    color: var(--text-color);
    line-height: 1.6;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.section-pad{
    padding:80px 0;
}

.navbar{
    background-color: #161b22d0;
    backdrop-filter: blur(10px);
    position: fixed; /*mantém o menu sempre visivel no topo*/
    width: 100%; 
    z-index: 1000;    
}


.navbar-content{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo .highlight { color: var(--primary-color)}

.menu a{
    text-decoration: none;
    color: var(--text-color);
    margin-left: 20px;
    font-size: 10px;
}

.btn-nav{
    border: 1px solid var(--border-color);
    padding: 8px 16px;
    border-radius: 6px;
    transition: 0.3s
}

.btn-nav:hover {
border-color: var(--text-color)
}

/*SEÇÃO HERO*/

.hero{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 80px;
    background: radial-gradient(circle at top, #1e4172 0%, #170d0d 70%);
}

.tag{
    background-color: #1f2428;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 8px;
    text-transform: uppercase;
    font-weight: bold;
}

.hero h1{
    font-size: 42px;
    margin: 20px 0;
}

.hero p{
    color: #8b949e;
    max-width: 600px;
    margin: 0 auto 40px auto;
    font-size: 1.2 rem;
}

.btn{
    display: inline-block;
    padding: 12px 24px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    cursor:pointer;
    border: none;
    transition: 0.3s;
}

.btn-primary{
    background-color: var(--primary-color);
    color: whitesmoke;
}

.btn-primary:hover{
    background-color: var(--text-color);
}

.btn-outline{
    background-color: transparent;
    border: 1px solid var(--border-color);
    color: var(--text-color);
    margin-left: 10px;
}

.btn-outline:hover{
    background-color: var(--border-color);
}

/*módulos - seção o que vai aprender*/
.row{
    display: flex;
    gap: 30px;
    margin-top: 40px;
}

.card{
    flex: 1;
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
    padding: 30px;
    border-radius: 12px;
}

.icon-box{
    font-size: 32px;
    color:var(--primary-color);
    margin-bottom: 15px;
}
 /*formulario de inscrição*/

.bg-darker{background-color: #170d0d;}

.form-wrapper{
max-width: 500px;
background-color: var(--primary-color);
padding: 40px;
border-radius: 12px;
border: 1px solid var(--border-color)
}

.input-group{
margin-bottom: 20px;
}

label{
display:block;/*faz com que o label fique em cima do input*/
margin-bottom: 8px;
color:#170d0d
}

input{
width: 100%;
padding: 12px;
background-color: #8b949e;
border: 1px solid var(--border-color);
color: whitesmoke;
border-radius: 4px;
outline: none;
}

input:focus{
    border-color: var(--primary-color);
}

/*LISTA DE VALIDAÇÃO*/
.validation-list{
list-style: none;
margin-top: 8px;
font-size: 12px;
}

.validation-list li{
margin-bottom: 4px;
display:flex;
align-items: center;
gap: 8px;
transition: 0.3s;
}

.invalid{
color: #8b949e
}

.invalid{
color: var(--primary-color)
}


footer{
    
    text-align: center;
    padding: 40px;
    color: #8b949e;
    border-top: 1px solid var(--border-color);
    background-color: #1e4172;
}

